<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
	<div>
		 <img src="~/carrental.webp" style="width:1500px;height:auto"/> 

        <header>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            
        </header>

        <nav>
			<a href="@Url.Action("Home","CarApp")" class="btn btn-info">Home</a> 
            <a href="@Url.Action("Login","CarApp")" class="btn btn-info">Login</a> 
            <a href="@Url.Action("Register","CarApp")" class=" btn btn-info">Register</a> 
            <a href="@Url.Action("Viewcars","CarApp")" class=" btn btn-info">Viewcars</a> 
            <a href="@Url.Action("Rentcar","CarApp")" class=" btn btn-info">Rentcar</a> 
            <a href="@Url.Action("Payment","CarApp")" class=" btn btn-info">Payment</a>
            <a href="@Url.Action("Logout","CarApp")" class=" btn btn-info">Logout</a>


        </nav>
        @RenderBody()

        <footer>


        </footer>
    </div>
</body>
</html>
